@model TodoViewModel;

<div class="card-body">
    @{
        var count = 0;
    }
    <table class="table table-sm table-striped table-hover">
        <thead>
            <tr>
                <th class="text-center"> # </th>
                <th class="text-center"> Task </th>
                <th class="text-center"> </th>
                <th class="text-center"> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model.TodoList)
            {
                count++;
                if (task != null)
                {
                    <tr>
                        <td class="text-center"> @count </td>
                        <td class="text-center"> @task.Name </td>
                        <td class="text-center">
                            <input type="submit" class="btn btn-primary" value="Edit" onClick="populateForm(@task.Id)"/>
                        </td>
                        <td class="text-center">
                            <input type="submit" class="btn btn-danger" value="Delete" onClick="deleteTask(@task.Id)"/>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>