
<div class="card-body">

    <table class="table table-sm table-striped table-hover">
        <tr>
            <th class="text-center"> Id </th>
            <th class="text-center"> Task </th>
            <th class="text-center"> </th>
            <th class="text-center"> </th>
        </tr>

        @foreach (var task in ViewBag.Tasks)
        {
            if (task != null)
            {
                <tr>
                    <td class="text-center"> @task.Id </td>
                    <td class="text-center"> @task.Name </td>
                    <td class="text-center">
                        <a asp-action="EditTask" asp-controller="Home"
                   asp-route-id="@task.Id" class="btn btn-primary"> Edit </a>
                    </td>
                    <td class="text-center">
                        <a asp-action="DeleteTask" asp-controller="Home"
                   asp-route-id="@task.Id" class="btn btn-danger"> Delete </a>
                    </td>
                </tr>
            }
        }
    </table>
</div>