@model TodoViewModel;

<div class="card-body">
    @{
        var count = 0;
    }
    <table class="table table-sm table-striped table-hover">
        <thead>
            <tr>
                <th class="text-center" scope="col"> # </th>
                <th class="text-center" scope="col"> Task </th>
                <th class="text-center" scope="col"> </th>
                <th class="text-center" scope="col"> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model.Todos)
            {
                count++;
                if (task != null)
                {
                    <tr>
                        <td class="text-center" scope="row"> @count </td>
                        <td class="text-center"> @task.Name </td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>