@model Todo_App_ASPNET_MVC.Models.Todo;

@{
    ViewData["Title"] = "UpdateTask";
}

<h1>EditTask</h1>
<form asp-action="UpdateTasks" id="form-action" method="post" role="form" asp-controller="Home">
    <div asp-validation-summary="All"></div>
    <label asp-for="Name"></label>
    <input asp-for="Id" type="hidden"/>
    <input asp-for="Name"/>
    <span asp-validation-for="Name"></span>
    <input type="submit" id="from-button" value="Update" class="btn btn-success"/>
</form>